* {
  box-sizing: border-box;
}

body {
  background-color: #30475e;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.App {
  color: white;
}

.header {
  width: 100%;
  text-align: center;
  padding: 4rem;

  h1 {
    padding-bottom: 2rem;
    margin: 0;
  }

  input {
    padding: 10px;
    margin: 0;
    border: none;
    border-radius: 8px;
    background-color: rgb(226, 226, 226);
    color: rgb(27, 27, 27);

    &:focus {
      outline-color: #ffb951;
    }
  }
}

.exercises {
  padding: 0 2rem 2rem;
  display: grid;
  grid-template: auto auto auto / auto auto auto;
  gap: 16px;

  .exercise-details {
    position: relative;
    border-radius: 8px;
    background-color: #222831;
    padding: 24px;

    .check {
      width: 20px;
        height: 20px;
      padding: 10px 14px 10px;
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }

      &.yes {
        opacity: 1;

        &:before {
          content: "";
          width: 11px;
          height: 4px;
          background-color: green;
          display: block;
          position: absolute;
          transform: rotate(30deg) translate3D(-3px, 7px, 0);
        }
        &:after {
          content: "";
          width: 15px;
          height: 4px;
          background-color: green;
          display: block;
          position: absolute;
          transform: rotate(130deg);
        }

        &:hover {
          &:before {
            content: "";
            width: 18px;
            height: 4px;
            background-color: red;
            display: block;
            position: absolute;
            transform: rotate(45deg) translate3D(-3px, 5px, 0);
          }
          &:after {
            content: "";
            width: 18px;
            height: 4px;
            background-color: red;
            display: block;
            position: absolute;
            transform: rotate(140deg) translate3D(5px, 3px, 0);
          }
        }
      }
      &.no {
        &:before {
          content: "";
          width: 18px;
          height: 4px;
          background-color: white;
          display: block;
          position: absolute;
        }
        &:after {
          content: "";
          width: 18px;
          height: 4px;
          background-color: white;
          display: block;
          position: absolute;
          transform: rotate(90deg) translate3D(0px, 0px, 0);
        }
      }
    }

    .category {
      display: inline-block;
      padding: 5px 10px;
      border-radius: 16px;
      border: 1px solid white;
      letter-spacing: 2px;
      font-size: 0.8rem;
      line-height: 1.5;
      font-weight: bold;
    }

    h3 {
      font-size: 1.5rem;
    }

    ol,
    ul,
    li,
    p {
      list-style-position: inside;
      font-size: 1rem;
      line-height: 1.5;
      padding: 0;
      margin: 0 0 0.7rem;
    }

    &--image {
      margin-top: 2em;
      position: relative;
      height: 200px;

      img {
        height: 100%;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        &:nth-of-type(1) {
          animation: fade 1s 0s infinite alternate;
        }
        &:nth-of-type(2) {
          animation: fade 1s 0.75s infinite alternate;
        }
      }
    }
  }
}

.routine {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem;
  background-color: rgb(128, 128, 128);

  .count {
  }
}
// TODO
.todo {
  position: fixed;
  top: 0;
  left: 0;
}
