* {
  box-sizing: border-box;
}

body {
  background-color: #30475e;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.App {
  color: white;
}

.header {
  width: 100%;
  text-align: center;
  padding: 4rem;
}
.header h1 {
  padding-bottom: 2rem;
  margin: 0;
}
.header input {
  padding: 10px;
  margin: 0;
  border: none;
  border-radius: 8px;
  background-color: #e2e2e2;
  color: #1b1b1b;
}
.header input:focus {
  outline-color: #ffb951;
}

.exercises {
  padding: 0 2rem 2rem;
  display: grid;
  grid-template: auto auto auto/auto auto auto;
  gap: 16px;
}
.exercises .exercise-details {
  position: relative;
  border-radius: 8px;
  background-color: #222831;
  padding: 24px;
}
.exercises .exercise-details .check {
  width: 20px;
  height: 20px;
  padding: 10px 14px 10px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  opacity: 0.7;
}
.exercises .exercise-details .check:hover {
  opacity: 1;
}
.exercises .exercise-details .check.yes {
  opacity: 1;
}
.exercises .exercise-details .check.yes:before {
  content: "";
  width: 11px;
  height: 4px;
  background-color: green;
  display: block;
  position: absolute;
  transform: rotate(30deg) translate3D(-3px, 7px, 0);
}
.exercises .exercise-details .check.yes:after {
  content: "";
  width: 15px;
  height: 4px;
  background-color: green;
  display: block;
  position: absolute;
  transform: rotate(130deg);
}
.exercises .exercise-details .check.yes:hover:before {
  content: "";
  width: 18px;
  height: 4px;
  background-color: red;
  display: block;
  position: absolute;
  transform: rotate(45deg) translate3D(-3px, 5px, 0);
}
.exercises .exercise-details .check.yes:hover:after {
  content: "";
  width: 18px;
  height: 4px;
  background-color: red;
  display: block;
  position: absolute;
  transform: rotate(140deg) translate3D(5px, 3px, 0);
}
.exercises .exercise-details .check.no:before {
  content: "";
  width: 18px;
  height: 4px;
  background-color: white;
  display: block;
  position: absolute;
}
.exercises .exercise-details .check.no:after {
  content: "";
  width: 18px;
  height: 4px;
  background-color: white;
  display: block;
  position: absolute;
  transform: rotate(90deg) translate3D(0px, 0px, 0);
}
.exercises .exercise-details .category {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 16px;
  border: 1px solid white;
  letter-spacing: 2px;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: bold;
}
.exercises .exercise-details h3 {
  font-size: 1.5rem;
}
.exercises .exercise-details ol,
.exercises .exercise-details ul,
.exercises .exercise-details li,
.exercises .exercise-details p {
  list-style-position: inside;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0;
  margin: 0 0 0.7rem;
}
.exercises .exercise-details--image {
  margin-top: 2em;
  position: relative;
  height: 200px;
}
.exercises .exercise-details--image img {
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.exercises .exercise-details--image img:nth-of-type(1) {
  animation: fade 1s 0s infinite alternate;
}
.exercises .exercise-details--image img:nth-of-type(2) {
  animation: fade 1s 0.75s infinite alternate;
}

.routine {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem;
  background-color: gray;
}
.todo {
  position: fixed;
  top: 0;
  left: 0;
}

/*# sourceMappingURL=App.css.map */
